.jComponentContainer {
  position:relative;
  display:inline-block;
  *display:inline;
  *zoom:1;

  .jComponent {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    cursor:pointer;
    opacity:0;
    filter:alpha(opacity=0)\9;
    outline:none;
  }

  .jComponentIcon {
    float:left;
    width:16px;
    height:16px;
    background-image: url("../images/jComponent/jComponent_icon.png");
  }

  // orange radio 16 size
  .radioOrange16 {
    & + .jComponentIcon {
      background-position: 0 -16px;
    }

    &:checked + .jComponentIcon {
      background-position: -16px -16px;
    }
  }
  // blue radio 16 size
  .radioBlue16 {
    & + .jComponentIcon {
      background-position: 0 0;
    }

    &:checked + .jComponentIcon {
      background-position: -16px 0;
    }
  }

  // blue checkbo 20 size
  .checkboxOrange20 {
    & + .jComponentIcon {
      background-position: 0 -64px;
    }
    &:checked + .jComponentIcon {
      background-position: -20px -64px;
    }
  }


  // orange checkbo 16 size
  .checkboxOrange16 {
    & + .jComponentIcon {
      background-position: 0 -48px;
    }
    &:checked + .jComponentIcon {
      background-position: -16px -48px;
    }
  }

  // blue checkbo 16 size
  .checkboxBlue16 {
    & + .jComponentIcon {
      background-position: 0 -32px;
    }
    &:checked + .jComponentIcon {
      background-position: -16px -32px;
    }
  }
  // blue checkbo 20 size
  .checkboxBlue20 {
    & + .jComponentIcon {
      background-position: 0 -84px;
    }
    &:checked + .jComponentIcon {
      background-position: -20px -84px;
    }
  }

  .jComponentLabel {
    float:left;
  }

}

.jComponentSelect {
  position:relative;
  width:160px;
  height:30px;
  margin:100px auto;

  &.zIndex100 {
    z-index:100;
  }

  .jComponentSelectTitleBox {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    line-height:200%;
    border:1px solid #ccc;
    box-sizing:border-box;
    overflow:hidden;
    background-color: #fff;
    border-radius:3px;
  }
  .jComponentSelectTitle {
    float:left;
    width:128px;
    height:30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-indent:10px;
  }

  .jComponentSelectIcon {
    float:right;
    width:30px;
    height:30px;
    background:url("../images/jComponent/jComponent_select_icon.png") scroll no-repeat left top transparent;
  }

  .jComponentSelectIconOpen {
    background-position: 0 -30px;
  }

  .jComponentSelectList {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    overflow:hidden;
    border-radius:3px;
    border:1px solid #ccc;
    box-sizing:border-box;
    background-color:#fff;
  }

  .option {
    float:left;
    width:100%;
    height:30px;
    line-height:200%;
    text-indent:10px;
    overflow:hidden;
    border-top:1px solid #ccc;
    box-sizing:border-box;

    &:first-child {
      border-top:none;
    }

    &:hover {
      background-color:#efefef;
    }
  }

}

